/***********************CSS VARIABLES*****************************************/
:root {
    /*Colors*/

    /*Neutral*/
    --color-neutral-100: hsl(0, 100%, 100%);
    --color-neutral-500: hsl(0, 0%, 63%);
    --color-neutral-800: hsl(0, 0%, 27%);
    --color-neutral-900: hsl(0, 0%, 0%);

    /*Typography*/

    /*Body Copy*/
    --fs-normal: 1em;
    --fs-title: 2.5em;

    /*Font*/
    --ff-normal: "League Spartan";

    --fw-light: 500;
    --fw-regular: 600;
    --fw-bold: 700;

    /*  spacing  */
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 2.5rem;
    --spacing-6: 3rem;
    --spacing-7: 3.5rem;
    --spacing-8: 4rem;

    /*  breakpoints  */
    --breakpoint-mobile: 575px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1440px;
}


/**************************GENERAL STYLING*******************************************/
body {
    font-family: var(--ff-normal), sans-serif;
    font-size: var(--fs-normal);
    min-height: 100vh;
    display: grid;
    place-content: start;

    @media (width > 1024px) {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: max-content max-content; }
}
main { @media (width > 1024px) {
    *, *::before, *::after {
        box-sizing: unset;}
    grid-row: 1; grid-column: 1/4;
    display: flex;
    .homepage { flex-basis: 60%; }
    .description { flex-basis: 30%; align-self: center; }
}}


.homepage {
    --h-main: 375px;

    position: relative;
    min-height: var(--h-main);
    padding: calc(var(--spacing-3) * 2) var(--spacing-3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (width > 768px) {
        --h-main: 356px;

        padding: var(--spacing-8);  }
}
.homepage__menu {
    display: flex;
    align-items: center;
    @media (width > 768px) {  gap: var(--spacing-7); }
}
.homepage__logo {
    @media (max-width: 768px) {
        width: fit-content;
        margin: auto;
    }
}


.navbar {
    --h-navbar: 6.875rem;

    @media (max-width: 768px) {
        min-height: var(--h-navbar);
        position: fixed;
        top: 0; right: 0; left: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(var(--spacing-3) * 2) var(--spacing-3);
        background-color: var(--color-neutral-100);

        transition: all 500ms ease;
        margin-top: -100%;
    }
}
.navbar ul {
    display: flex;
    gap: var(--spacing-4);
}
.navbar__link {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: var(--fw-regular);
    color: var(--color-neutral-900);

    @media (width > 768px) {
        color: var(--color-neutral-100);
        border-bottom: 2px transparent solid;
        padding-bottom: 5px;
        &:hover{
            transition: border-bottom-color ease 800ms;
            border-bottom-color: var(--color-neutral-100);
        }
    }
}
.navbar__close,
.homepage__hamburger {
    @media (width > 768px) {
        display: none;  }
}


.description {
    padding: var(--spacing-8) var(--spacing-4);
    @media (width > 768px) {
        padding: var(--spacing-8);  }
}
.description__article{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}
.description__title {
    font-size: var(--fs-title);
    line-height: 1.5ch;
    font-weight: var(--fw-regular);
}
.description__content,
.about__content {
    color: var(--color-neutral-500); }
.description__link {
    margin-block: var(--spacing-2);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5ch;
    font-weight: var(--fw-light);
    color: var(--color-neutral-800);

    &:after {
        content: "";
        display: inline-flex;
        align-items: center;
        width: 40px; height: 20px;
        margin-left: 1rem;
        background: url("/assets/img/icons/icon-arrow.svg") no-repeat;}
    &:hover {
        color: var(--color-neutral-500); }
}


.about {
    padding: var(--spacing-8) var(--spacing-4);
    @media (width > 768px) {
        padding: var(--spacing-5); }
}
.about__article {
    height: 100%;
    display: grid;
    place-content: center;
    gap: var(--spacing-2);
}
.about__title {
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    letter-spacing: 0.75ch;
}


.dark-container__image,
.light-container__image {
    min-width: 100%;
    min-height: 266px;
}


.switcher {
    box-sizing: border-box;
    position: absolute;
    bottom: 0; right: 0;
    display: inline-flex;
    
    @media (width > 1024px) {
        right: -124px;  }
}
.switcher span {
    --accent-900: 0 0%;

    cursor: pointer;
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-neutral-900);
    &:hover {
        background-color: hsl(var(--accent-900), 25%);}
}


/*************************CUSTOMS CLASSES*****************************************/
.hidden {
    display: none;
}
.on-screen {
    transition: all 500ms ease;
    margin: 0;
}
.blur-background {
    z-index: 1;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
}

.firstImage {
    background-image: url("/assets/img/images/mobile/mobile-image-hero-1.jpg");
    @media (width > 768px) {
        background-image: url("/assets/img/images/desktop/desktop-image-hero-1.jpg");  }
}
.secondImage {
    background-image: url("/assets/img/images/mobile/mobile-image-hero-2.jpg");
    @media (width > 768px) {
        background-image: url("/assets/img/images/desktop/desktop-image-hero-2.jpg");  }
}
.thirdImage {
    background-image: url("/assets/img/images/mobile/mobile-image-hero-3.jpg");
    @media (width > 768px) {
        background-image: url("/assets/img/images/desktop/desktop-image-hero-3.jpg");  }
}
